/*-------------------------------------------------------
26. About css 
---------------------------------------------------------*/

.about-count {
	display: flex;
	align-items: center;
	gap: 50px;
	.about-count-box {
		h2 {
			font-family: var(--font-1);
			font-size: 56px;
			font-weight: 600;
			line-height: 64px;
			letter-spacing: -2px;
		}
		span {
			font-family: var(--font-1);
			color: var(--clr-heading);
			font-size: 20px;
			font-weight: 500;
			line-height: 30px;
			display: inline-block;
		}
	}
}

.about-text {
	margin-bottom: 40px;
	padding-bottom: 40px;
	border-bottom: 1px solid #E6E6EB
}

.about-list {
	display: flex;
	align-items: center;
	gap: 30px;
	justify-content: space-between;
	.about-list-opt {
		display: flex;
		align-items: center;
		gap: 15px;
		.about-list-opt-icon {
			i {
				display: inline-block;
			}
		}
		.about-list-opt-text {
			font-family: var(--font-1);
			font-size: 20px;
			font-weight: 600;
			line-height: 24px;
			margin-bottom: 0;
			color: var(--clr-white);
		}
	}
}

.hero-about-page {
	img {
		border-radius: 16px;
	}
}

.hyi-list {
	display: flex;
	align-items: center;
	gap: 10px;
	li {
		.hy-lll-box {
			display: flex;
			align-items: center;
			gap: 10px;
			&.hy-bh {
				flex-direction: column;
				align-items: flex-start;
			}
			i {
				height: 40px;
				width: 40px;
				line-height: 40px;
				text-align: center;
				border-radius: 50%;
				background: var(--clr-def);
				display: inline-block;
				svg {
					fill: var(--clr-heading);
					height: 32px;
					width: 32px;
				}
			}
			h5 {
				font-size: 18px;
				font-weight: 600;
				line-height: 27px;
				margin-bottom: 0;
			}
		}
	}
}

.feature-about-area {
	border-bottom: 1px solid #E6E6EB;
}

.feature-fet {
	display: grid;
	grid-template-columns: 60px 1fr;
	align-items: flex-start;
	grid-gap: 10px;
	i {
		
		display: inline-block;
		svg {
			fill: var(--clr-heading);
		}
	}
	h5 {
		font-size: 18px;
		font-weight: 600;
		line-height: 27px;
		margin-bottom: 8px;
	}
}

