/*-------------------------------------------------------
26. About css 
---------------------------------------------------------*/

.about-count {
	display: flex;
	align-items: center;
	gap: 50px;
	.about-count-box {
		h2 {
			font-family: var(--font-1);
			font-size: 56px;
			font-weight: 600;
			line-height: 64px;
			letter-spacing: -2px;
		}
		span {
			font-family: var(--font-1);
			color: var(--clr-heading);
			font-size: 20px;
			font-weight: 500;
			line-height: 30px;
			display: inline-block;
		}
	}
}

.about-text {
	margin-bottom: 40px;
	padding-bottom: 40px;
	border-bottom: 1px solid #E6E6EB
}

.about-list {
	display: flex;
	align-items: center;
	gap: 30px;
	justify-content: space-between;
	.about-list-opt {
		display: flex;
		align-items: center;
		gap: 15px;
		.about-list-opt-icon {
			i {
				display: inline-block;
			}
		}
		.about-list-opt-text {
			font-family: var(--font-1);
			font-size: 20px;
			font-weight: 600;
			line-height: 24px;
			margin-bottom: 0;
			color: var(--clr-white);
		}
	}
}

