/*-------------------------------------------------------
35. Blog css  
---------------------------------------------------------*/


.blog-box {
	box-shadow: 0px 0px 50px 0px #6A6A6A0D;
	.blog-pic {
		position: relative;
		z-index: 1;
		img {
			width: 100%;
		}
		.blog-pic-meta {
			display: flex;
			align-items: flex-end;
			justify-content: space-between;
			padding: 0 20px;
			z-index: 2;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
		}
	}
	.blog-desc {
		padding: 3rem 3rem 0 3rem;
		h4 {
			font-size: 24px;
			font-weight: 600;
			line-height: 38px;
			color: var(--clr-white-70);
			margin-bottom: 30px;
		}
	}
}

.blog-pic-mm-date {
	width: 48px;
    height: 50px;
    padding: 0 0;
    border-radius: 2px;
    background: var(--clr-def);
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	span {
		font-size: 15px;
		font-weight: 500;
		line-height: 1;
		font-family: var(--font-1);
		color: var(--clr-white);
		display: block;
		&:first-child {
			margin-bottom: 5px;
		}
	}
}

.blog-pic-mm {
	i {
		font-size: 15px;
	}
	span {
		font-family: var(--font-1);
		font-size: 16px;
		font-weight: 400;
		line-height: 1;
	}
}

.rec {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 0;
}

.blog-btn {
	font-family: var(--font-1);
	font-size: 16px;
	font-weight: 600;
	line-height: 1;
	padding: 10.5px 10px 10.5px 10px;
	border-radius: 4px;
	color: var(--clr-white-80);
	background: var(--clr-def);
	display: inline-block;
	&:hover {
		color: var(--clr-white);
	}
}

//Blog 2


.blog-box-2 {
	display: grid;
	align-items: center;
	grid-gap: 30px;
	grid-template-columns: 308px 1fr;
	.blog-pic-2 {
		
	}
	.blog-desc-2 {
		.tags {
			margin-bottom: 10px;
			a {
				color: white;
				background: linear-gradient(180deg, #EDCE1D 0%, rgba(223, 165, 135, 0.96) 100%);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				font-family: var(--font-2);
				font-size: 20px;
				font-weight: 600;
				line-height: 1;
				display: inline-block;
			}
		}
		h4 {
			font-size: 24px;
			font-weight: 700;
			line-height: 34px;
			margin-bottom: 20px;
			color: var(--clr-white);
		}
		p {
			font-size: 18px;
			font-weight: 400;
			line-height: 30px;
			color: var(--clr-white-70);
			margin-bottom: 30px;
		}
		.blog-admin {
			display: flex;
			align-items: center;
			gap: 10px;
			margin-bottom: 40px;
			h6 {
				color: var(--clr-body);
			}
		}
		.blog-admin-meta {
			display: flex;
			align-items: center;
			justify-content: space-between;
			border-top: 1px solid #D9D9D926;
			padding-top: 30px;
			li {
				display: flex;
				align-items: center;
				gap: 10px;
				i {
					font-size: 15px;
					display: inline-block;
				}
				span {
					font-family: var(--font-1);
					font-size: 16px;
					font-weight: 400;
					line-height: 1;
					display: inline-block;
				}
			}
		}
	}
}

// Blog 3

.blog-box-3 {
	&:hover {
		.blog-3-link {
			color: var(--clr-def-3);
		}
		.blog-desc-3 {
			.blog-3-meta {
				a {
					color: var(--clr-white);
					border: 1px solid var(--clr-def-3);
					background: var(--clr-def-3);
				}
			}
		}
	}
	.blog-desc-3 {
		.blog-3-meta {
			display: flex;
			align-items: center;
			gap: 15px;
			margin: 15px 0;
			a {
				padding: 4px 10px 4px 10px;
				border-radius: 20px;
				border: 1px solid #FFFFFF80;
				font-size: 12px;
				font-weight: 400;
				color: var(--clr-white-70);
				transition: all .5s ease;
			}
		}
		.blog-3-content {
			h4 {
				font-family: var(--font-1);
				font-size: 20px;
				font-weight: 700;
				line-height: 24px;
				letter-spacing: 0.04em;
				margin-bottom: 2rem;
				color: var(--clr-white);
			}
			p {
				font-size: 14px;
				font-weight: 400;
				line-height: 20px;
				letter-spacing: 0.02em;
				margin-bottom: 2rem;
			}
		}
	}
}

.blog-3-link {
	font-size: 16px;
	font-weight: 500;
	line-height: 1;
	letter-spacing: 0.02em;
	display: inline-flex;
	color: var(--clr-white);
	transition: all .5s ease;
	gap: 10px;
}


//Blog page

.blog-page-shadow {
    margin-bottom: 30px;
	.blog-meta {
		display: flex;
		align-items: center;
		gap: 10px;
		i {
			font-size: 14px;
			margin-right: 10px;
			color: var(--clr-def-4);
		}
		.blog-like-com {
			display: flex;
			align-items: center;
			gap: 10px;
		}
	}
	.blog-desc {
		padding: 3rem 3rem 3rem 3rem;
	}
}


