/*-------------------------------------------------------
28. Counter Css  
---------------------------------------------------------*/

.counter-area {
    box-shadow: 0px 4px 4px 0px #00000040;
}

.counter-1 {
	.fun-fact {
		text-align: left;
		.counter {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			font-family: var(--font-1);
			font-size: 56px;
			font-weight: 600;
			line-height: 64px;
			letter-spacing: -2px;
			color: var(--clr-heading);
		}
		span {
			font-family: var(--font-1);
			color: var(--clr-heading);
			font-size: 20px;
			font-weight: 500;
			line-height: 30px;
			display: inline-block;
		}
	}
}

.counter-2 {
	.fun-fact {
		border: 1px solid #3b3c3c;
		&:first-child {
			border-left: none;
		}
		&:last-child {
			border-right: none;
		}
	}
}







