/* CSS Document */

.navbar-nav .nav-item.active>.nav-link, .navbar-nav .nav-item:active:focus>.nav-link, .navbar-nav .nav-item:active>.nav-link, .navbar-nav .nav-item:focus>.nav-link, .navbar-nav .nav-item:hover>.nav-link {
    color: var(--clr-def)!important;
	&::before {
		-webkit-transition: .4s;
		transition: .4s;
		width: 100%;
		height: 3px;
		content: "";
		position: absolute;
		left: 0;
		bottom: -1px;
		z-index: 0;
		background: var(--clr-def);
	}
}

.navbar-nav .nav-item>.nav-link {
	display: inline-block;
	position: relative;
}

.nav-item.dropdown .navbar-nav .nav-item.active>.nav-link, 
.nav-item.dropdown .navbar-nav .nav-item:active:focus>.nav-link, 
.nav-item.dropdown .navbar-nav .nav-item:active>.nav-link, 
.nav-item.dropdown .navbar-nav .nav-item:focus>.nav-link, 
.nav-item.dropdown .navbar-nav .nav-item:hover>.nav-link,
 {
	&::before {
		display: none;
	}
}

