/* CSS Document */

.navbar-nav .nav-item.active>.nav-link, .navbar-nav .nav-item:active:focus>.nav-link, .navbar-nav .nav-item:active>.nav-link, .navbar-nav .nav-item:focus>.nav-link, .navbar-nav .nav-item:hover>.nav-link {
    color: var(--clr-def)!important;
	&::before {
		-webkit-transition: .4s;
		transition: .4s;
		width: 100%;
		height: 100%;
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		z-index: -1;
		background: #44444D;
		border-radius: 30px;
	}
}

.navbar-nav .nav-item>.nav-link {
	display: inline-block;
	position: relative;
	z-index: 34;
}

.nav-item.dropdown .navbar-nav .nav-item.active>.nav-link, 
.nav-item.dropdown .navbar-nav .nav-item:active:focus>.nav-link, 
.nav-item.dropdown .navbar-nav .nav-item:active>.nav-link, 
.nav-item.dropdown .navbar-nav .nav-item:focus>.nav-link, 
.nav-item.dropdown .navbar-nav .nav-item:hover>.nav-link,
 {
	&::before {
		display: none;
	}
}

