/*-------------------------------------------------------
48. Partner css
---------------------------------------------------------*/

.swiper-wrapper {
    display: flex;
    align-items: center;
}

.pt-110 {
	padding-top: 110px;
}

.inf-slider {
    rotate: -2deg;
	position: relative;
	z-index: 1;
	&::before {
		height: 100%;
		width: 102%;
		position: absolute;
		content: '';
		top: 0px;
		left: -3px;
		background: var(--clr-black); 
	}
}

.inf-shadow {
	&::before {
		position: absolute;
		z-index: 4;
		content: '';
		top: 0;
		left: 0;
		background-color: transparent;
		background-image: linear-gradient(90deg, #FFFFFFBD 0%, #F2295B00 100%);
		width: 300px;
		height: 100%;
	}
	&::after {
		position: absolute;
		z-index: 4;
		content: '';
		top: 0;
		right: 0;
		background-color: transparent;
		background-image: linear-gradient(-90deg, var( --clr-white ) 0%, #F2295B00 100%);
		width: 300px;
		height: 100%;
	}
}

.ptnr-sldr {
	.swiper-slide {
		text-align: center;
	}
}

.partner-text {
	text-align: center;
	font-family: var(--font-1);
	font-size: 20px;
	font-weight: 500;
	line-height: 30px;
	color: var(--clr-white);
	text-transform: uppercase;
}

.sample-slider {
	.swiper-slide {
		text-align: center;
	}
}

.partner-text-2 {
	font-size: 96px;
	line-height: 1;
	margin-bottom: 0;
	-webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #BCBCBC;
}

.swiper-slide-active {
	.partner-text-2 {
		-webkit-text-fill-color: var(--clr-white);
	}
}

//partner 2

.partner-box {
	border: 1px solid #D9D9D926;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.ptnr-sldr {
	padding: 0 15px 0 15px;
    margin: 0 15px 0 15px;
	.swiper-wrapper {
		padding-top: 30px;
	}
	.swiper-button-next:after, 
	.swiper-button-prev:after {
		font-size: 20px;
		color: var(--clr-white);
	}
	.swiper-button-prev, .swiper-rtl .swiper-button-next {
		left: var(--swiper-navigation-sides-offset,-5px);
	}
	.swiper-button-next, .swiper-rtl .swiper-button-prev {
		right: var(--swiper-navigation-sides-offset,-5px);
	}
}

.partner-name {
	img {
		transition: all .5s ease;
	}
	&:hover {
		img {
			scale: 1.1;
		}
		.partner-name-text {
			opacity: 1;
			visibility: visible;
			transform: translate(0,0);
		}
	}
}

.partner-name-text {
	display: block;
	font-family: var(--font-1);
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
	color: var(--clr-def);
	opacity: 0;
	visibility: hidden;
	transform: translate(0,-30px);
	transition: all .5s ease;
	margin-top: 20px;
}

