/*-------------------------------------------------------
48. Partner css
---------------------------------------------------------*/

.pt-110 {
	padding-top: 110px;
}

.inf-slider {
    rotate: -2deg;
}

.inf-shadow {
	&::before {
		position: absolute;
		z-index: 4;
		content: '';
		top: 0;
		left: 0;
		background-color: transparent;
		background-image: linear-gradient(90deg, #FFFFFFBD 0%, #F2295B00 100%);
		width: 300px;
		height: 100%;
	}
	&::after {
		position: absolute;
		z-index: 4;
		content: '';
		top: 0;
		right: 0;
		background-color: transparent;
		background-image: linear-gradient(-90deg, var( --clr-white ) 0%, #F2295B00 100%);
		width: 300px;
		height: 100%;
	}
}

.ptnr-sldr {
	.swiper-slide {
		text-align: center;
	}
}

.partner-text {
	text-align: center;
	font-family: var(--font-1);
	font-size: 20px;
	font-weight: 500;
	line-height: 30px;
	color: var(--clr-white);
	text-transform: uppercase;
}

.sample-slider {
	.swiper-slide {
		text-align: center;
	}
}

.partner-text-2 {
	font-size: 96px;
	line-height: 1;
	margin-bottom: 0;
	-webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #BCBCBC;
}

.swiper-slide-active {
	.partner-text-2 {
		-webkit-text-fill-color: var(--clr-white);
	}
}

//partner 2

.partner-box {
	border: 1px solid #D9D9D926;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

